button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid transparent;
	border-radius: 4px;
	background: $color__background-button;
	background-image: none;
	color: inherit;
	font-size: inherit;
	line-height: inherit;
	cursor: pointer;
	-webkit-appearance: button;

	&:active,
	&:focus {
		outline: 0;
	}
}
