#topbar {
  background-color: $theme-primary;
  color: rgba(#fff, 0.4);
  border-bottom: 1px solid rgba(#000, 0.05);

  .content {
    display: none;
    margin: 1em 0;
    width: 100%;

    .info {
      display: block;
      margin: 0.5em 0;

      .fa {
        padding-right: 10px;
      }
    }
  }

  .toggle {
    width: 100%;
    display: block;
    font-size: 13px;
    color: rgba(#fff, 0.4);

    .fa {
      padding: 12px 0;
    }
  }
}

.site-branding {

  .text-logo {
    font-family: $font__headings;
    font-weight: $font-weight-bold;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: -1.25px;

    .text-primary {
      color: $theme-primary;
    }

    .text-secondary {
      color: $theme-link-hover;
    }
  }
}

.social {

  a {
    font-size: 15px;
    padding: 12px;
    margin: 0 2px;
    color: inherit;
  }
}
