.menu-toggle {
  min-height: 28px;
  background: $theme-primary;
  color: #fff;
  padding: 0 6px;
  font-size: 20px;
}

.nav-menu {
  font-family: $font__headings;
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    display: none;
  }

  a {
    display: block;
  }
}

#site-navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $theme-navigation-bg;
  z-index: 99;

  &.open {
    display: block;
  }

  .nav-menu {
    padding: 20px 0;
    font-size: 14px;
    max-height: 50vh;
    overflow-y: auto;

    a {
      padding: 5px 4px;
      margin: 3px 0;
      font-weight: 500;
      color: $theme-navigation-text;
    }

    > li {

      > a {
        text-transform: uppercase;
        color: #fff;
      }
    }

    .menu-item-has-children,
    .page_item_has_children {

      > a {
        display: inline-block;
      }

      > a:not(.dropdown-toggle) {
        width: calc( 100% - 50px );
      }

      .dropdown-toggle {
        width: 50px;
        text-align: center;
      }
    }
  }
}
