.menu-toggle {
  min-height: 28px;
  background: $theme-primary;
  color: #fff;
  padding: 0 6px;
  font-size: 20px;

  @media (min-width: $device-lg) {
    display: none!important;
  }
}

.nav-menu {
  font-family: $font__headings;
  list-style: none;
  padding: 0;
  margin: 0;

  ul {
    list-style: none;
    display: none;
    z-index: 100;

    @media (min-width: $device-lg) {
      display: block;
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 105%;
      left: 0;
      margin: 0;
      width: 220px;
      transition: opacity 0s, transform 0s;
      background: $theme-navigation-bg;
      padding: 10px 0;

      ul {
        top: -10px!important;
        right: -220px;
        left: auto;

        @media (min-width: $device-lg) {
          display: none;
        }
      }
    }
  }

  li {
    position: relative;
  }

  a {
    display: block;
  }

  @media (min-width: $device-lg) {

    .children-right > ul,
    ul .children-right > ul,
    ul > li:last-of-type > ul {
      right: auto;
      left: -100%;
    }
  }
}

#site-navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: $theme-navigation-bg;
  z-index: 99;

  &.open {
    display: block;
  }

  .nav-menu {
    padding: 20px 15px;
    font-size: 14px;
    max-height: 50vh;
    overflow-y: auto;

    a {
      padding: 5px 4px;
      margin: 3px 0;
      font-weight: 500;
      color: $theme-navigation-text;

      @media (min-width: $device-lg) {
        padding: 5px 10px;
        margin: 0;
      }
    }

    > li {

      > a {
        text-transform: uppercase;
        color: #fff;

        @media (min-width: $device-lg) {
          color: $theme-headings;

          &:hover {
            color: $theme-primary;
          }
        }
      }

      @media (min-width: $device-lg) {
        margin: 0 10px;

        &:last-of-type {
          margin-right: 0;

          > a {
            padding-right: 0;
          }

          ul ul {
            left: -220px;
            right: auto;
          }
        }
      }
    }

    .menu-item-has-children,
    .page_item_has_children {

      > a {
        display: inline-block;
      }

      > a:not(.dropdown-toggle) {
        width: calc( 100% - 50px );

        @media (min-width: $device-lg) {
          width: auto;

          &:after {
            content: '\f105';
            font-family: "FontAwesome";
            display: inline-block;
            padding-left: 5px;
          }
        }
      }

      .dropdown-toggle {
        width: 50px;
        text-align: center;

        @media (min-width: $device-lg) {
          display: none;
        }
      }

      &:hover,
      &.focus {

        > ul {
          visibility: visible;
          opacity: 1;
          top: 100%;
          transition: opacity 0.3s ease-in-out 0.25s, top 0.3s ease-in-out 0.25s;

          @media (min-width: $device-lg) {
            display: block;
          }
        }
      }

      @media (min-width: $device-lg) {
        ul a {
          padding: 10px 24px;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    > .menu-item-has-children,
    > .page_item_has_children {

      > a:not(.dropdown-toggle) {

        @media (min-width: $device-lg) {

          &:after {
            content: '\f107';
          }
        }
      }
    }

    @media (min-width: $device-lg) {
      padding: 0;
      max-height: initial;
      overflow: visible;
    }
  }

  @media (min-width: $device-lg) {
    display: block;
    position: relative;
    top: initial;
    left: initial;
    background: transparent;
    width: auto;
  }
}
